body {
    width: 960px;
    margin: auto;
    background-image: url(../images/what-the-hex.png);
}

ul {
    text-align: right;
    padding: 30px;
}

li {
    display: inline;
}

.mainHeading {
    color: #4aaaa5;
    font-size: 25px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

footer {
    background-color: #666666;
    color: #ffff;
    border-top: 4px solid #0fa372;
    width: 963px;
    position: fixed;
}

img {
    float: left;
    padding-right: 10px;
    padding-left: 5px;
}

.headerNav {
    background: whitesmoke;
    width: 100%;
    height: 75px;
    margin: 10px auto;
    border: 1px solid rgb(61, 61, 63);
}

.myName {
    background-color: #4aaaa5;
    width: fit-content;
    padding: 25px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #ffff;
    font-size: 25px;
    float: left;
    border-right: 1px solid rgb(61, 61, 63);
}

.navlinks > ul > li:not(:last-child) {
    border-right:solid 1px lightblue;
    margin-right:3px;
}

#main {
    margin: 10px auto;
    border: 1px solid rgb(61, 61, 63);
    width: 100%;
    height: 425px;
    background: whitesmoke;
}

section {
    padding: 10px;
    text-align: center;
}

form {
    font-size: 25px;
    padding: 15px;
    color:  #4aaaa5;
}

#formName {
    padding: 5px;
}

#formEmail {
    padding: 8px;
}

#formMessage {
    padding: 10px;
    height: 158px;
}

textarea {
    width: 100%;
    height: 130px;
    margin-top: 7px;
}

.message {
    padding: 10px;
    height: 13px;
}

button {
    font-size: 15px;
    margin: 10px;
}

.footerText {
    text-align: center;
}

#aboutMe {
    padding: 10px;
    font-size: 22px;
    text-align: left;
}

#portfolioMain {
    margin: 10px auto;
    border: 1px solid rgb(61, 61, 63);
    width: 98%;
    height: 425px;
    background: whitesmoke;
    padding: 10px;
}

.col-4 {
    float: left;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}